.title {
  display: flex;
  justify-content: center;
  font-size: var(--text-2xl);
  font-weight: var(--font-weight-bold);
  color: var(--color-text-sub);
  margin: 2rem 0;
}

.pagination_box {
  margin: 2rem auto;
}

.club_container {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(240px, 1fr));
  gap: 2rem;
}

@media (max-width: 870px) {
  .club_container {
    grid-template-columns: repeat(auto-fill, minmax(190px, 1fr));
  }
}
