.wrapper_container {
  width: 100%;
  /* padding: 2rem 0; */
  display: flex;
  justify-content: center;
}

.container {
  width: 960px;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1.5rem;
}

.back_button {
  align-self: start;
  margin-bottom: -2.5rem;
  cursor: pointer;
}

.header {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 0.5rem;
}

.title {
  font-size: var(--text-3xl);
  font-weight: var(--font-weight-bold);
}

.description {
  color: var(--color-text-sub);
  font-size: var(--text-base);
}

.footer {
  width: 100%;
  display: flex;
  gap: 0.5rem;
}

.save_button {
  height: 2rem;
  position: relative;
  top: 1.4rem;
}

/* 에타불러오기 */
.user_play_box {
  display: flex;
  flex-direction: row;
  align-items: self-end;
  width: 100%;
  gap: 0.5rem;
}

.etbut {
  border: 1px solid #dfdfdf;
  background-color: #ffffff;
  border-radius: 100px;
  color: #777777;
  box-shadow: 0 2px 2px rgba(0, 0, 0, 0.1);
  height: 2rem;
  width: 2rem;

  &:hover {
    transform: translateY(-2px);
    background-color: #e7e7e7;
    border: 1px solid #d6d6d6;
    box-shadow: 0 3px 3px rgba(0, 0, 0, 0.25);
  }
}

.etimg {
  width: 18px;
  height: 18px;
}
