.kakao_share_button {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 0.5rem;
}

.kakao_share_content h3 {
  font-weight: var(--font-weight-bold);
}

.kakao_share_link {
  display: flex;
  align-items: center;
  gap: 0.5rem;
}

.kakao_share_link_text {
  flex: 1;
  height: 2.5rem;
  font-size: var(--text-sm);
  color: var(--color-text-sub);
  border: 1px solid var(--color-border);
  border-radius: var(--radius-5xl);

  display: flex;
  align-items: center;
  justify-content: center;
}

.kakao_share_link_button {
  height: 2.5rem;
  padding: 0 1rem;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: var(--text-sm);
}
