.load_schedules_button {
  width: 3rem;
  height: 3rem;
  padding: 0;
  display: flex;
  justify-content: center;
  align-items: center;

  border-radius: var(--radius-full);
  position: absolute;
  bottom: 8px;
  right: 8px;

  box-shadow: var(--shadow-md);
}

.container {
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
  width: 100%;
}

.list_container {
  display: grid;
  /* grid-template-columns: repeat(3, 1fr); */
  grid-template-columns: repeat(auto-fit, minmax(220px, 1fr));
  gap: 1rem;
}

.title {
  font-weight: var(--font-weight-bold);
  font-size: var(--text-lg);
}

.button {
  align-self: center;
}

.card {
  cursor: pointer;
}

.selected {
  outline: 2px solid var(--color-primary);
  border-radius: var(--radius-md);
}
