.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1rem;

  padding: 1rem 0;
}

.header_button {
  width: 100%;
  display: flex;
  gap: 1rem;
  justify-content: right;
}

.description {
  color: var(--color-text-sub);
}

.image {
  width: 100%;
  height: 100%;
  border-radius: var(--radius-xl);
}
