/* 2025년 몇월 */
.header {
  display: flex;
  align-items: center;
  justify-content: start;
  box-sizing: border-box;
  width: 100%;
  gap: 1rem;
  /* padding: 1.25rem; */
  font-size: var(--text-lg);
  padding: 0 0.5rem;
  font-weight: var(--font-weight-semibold);
  color: var(--color-text-primary);
}

.nav_box {
  display: flex;
  align-items: center;
  gap: 0.5rem;
  cursor: pointer;
}

.today_button {
  font-size: var(--text-lg); /* text-lg */
  background: none;
  border: none;
  cursor: pointer;
  color: var(--color-text-primary);
}
