.container {
  flex: 1;
  width: 100%;
  min-height: 100%;
  display: grid;
  grid-template-columns: repeat(7, 1fr);
  column-gap: 0.5rem;
  user-select: none;
}

.time_board_item {
  display: flex;
  flex-direction: column;
  border-radius: var(--radius-xl);
  overflow: hidden;
  background-color: var(--board-bg-color);
}

.time_board_item_range {
  flex: 1;
  min-height: 0;
  height: 5rem;
  /* border-bottom: 1px solid var(--board-border-color); */
  border-bottom: 1px solid #bedfe4cd;

  display: flex;
  flex-direction: column;
}

.active {
  background-color: var(--board-active-bg-color);
}

.time_board_item_range:last-child {
  border-bottom: none;
}

.time_board_item_range:last-child {
  border-right: none;
}

.time_board_item_range_first_half {
  flex: 1;
  border-bottom: 1px dashed var(--board-border-color);

  touch-action: none;
  user-select: none;
}

.time_board_item_range_second_half {
  flex: 1;

  touch-action: none;
  user-select: none;
}

.isEditableCell {
  cursor: pointer;
}
/* 
@media (hover: hover) and (pointer: fine) {
  .isEditableCell:hover {
    background-color: var(--board-active-bg-color);
    opacity: 0.3;
  }

  .isEditableCell.active:hover {
    background-color: var(--board-active-bg-color);
    opacity: 0.5;
  }
} */
