.vote_container{
    margin: 3vh 5vw
}

header {
    display: flex;
}
header h1 {
    margin-bottom: 10px;
    font-size: 1.2rem;
    font-weight: bold;
}

/* 투표방법 안내 */
.guide{
    background-color: #F6F6F6;
    color: #6C6C6C;
    font-size: 0.9rem;
    padding: 14px 20px;
    border-radius: 15px;
}

/* 곡 투표 공간 */
.songs_container{

}