.vote_container{
    margin: 3vh 5vw
}

/* 투표 제목 및 버튼 */
.header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
.header h1 {
    margin-bottom: 10px;
    font-size: 1.2rem;
    font-weight: bold;
}

.button_group {
    display: flex;
    justify-content: center;
    gap: 14px;
}

.button_group button{
    background-color: #b3b3b3;
}

@media (max-width: 768px) {
    .header {
        text-align: center;
        flex-direction: column;
    }
}

/* 투표방법 안내 */
.guide{
    background-color: #F6F6F6;
    color: #6C6C6C;
    font-size: 0.9rem;
    padding: 14px 20px;
    border-radius: 15px;
    margin-top: 14px;
    margin-bottom: 20px;
}

/* 곡 투표 공간 */
.vote_grid {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 24px;
}

@media (max-width: 768px) {
    .vote_grid {
      grid-template-columns: 1fr;
    }
  }

.song_card{
    background-color: #6C6C6C;
} 
  