/* 투표 제목 및 필터링 */
.header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}
.header h1 {
  font-size: 1.3rem;
  font-weight: bold;
}
.header section {
  display: flex;
  gap: 15px;
  align-items: center;
}
.header img {
  width: 25px;
  height: 25px;
  cursor: pointer;
  margin-bottom: 5px;
}

@media (max-width: 768px) {
  .header {
    text-align: center;
    flex-direction: column;
  }
  .vote_title {
    margin-bottom: 18px;
  }
}

/* 결과 필터링 드롭다운 */
.result_filter {
  padding: 5px 12px;
  width: 280px;
  height: 30px;
  border-radius: 50px;
  border: 1px solid #b1b1b1;
  font-size: 1rem;
}
select:focus {
  outline: none;
  box-shadow: 0 0 0 1px rgba(90, 90, 90, 0.5);
}

/* 결과 텍스트 섹션 */
.summary_box {
  display: flex;
  justify-content: space-around;

  margin-top: 1.5rem;
  background-color: #f6f6f6;
  color: #6c6c6c;
  font-size: 0.9rem;
  font-weight: bold;
  padding: 14px 20px;
  border-radius: 15px;
}

.song_name {
  font-weight: 500;
}
