.header_nav {
  display: flex;
  justify-content: space-between;
  gap: 1rem;
  margin: 1rem 0;
  flex-wrap: wrap;
}

.page_title {
  display: flex;
  font-size: var(--text-2xl);
  font-weight: var(--font-weight-bold);
  margin: 2rem 0;
}
.map_box {
  width: 90%;
  aspect-ratio: 2;
  margin: 0 auto;
  border-radius: var(--radius-xl);
  position: relative;
}
.search_button {
  position: absolute;
  bottom: 1rem;
  left: 50%;
  translate: -50%;
  z-index: 9;
}
.promotion_container {
  gap: 1rem;
  width: 90%;
  margin: 0 auto;
}
.page_navigate_box {
  display: flex;
  align-items: center;
  gap: 0.5rem;
  justify-content: center;
  margin: 2rem 0;
}
