.container {
  display: flex;
  flex-direction: column;
  margin: 2rem 0;
}

.header {
  display: flex;
  justify-content: space-between;
  margin-bottom: 1rem;
}

.title {
  font-size: var(--text-3xl);
  font-weight: var(--font-weight-bold);
  color: var(--color-text-main);
}

.carouselWrapper {
  overflow: hidden;
  position: relative;
}

.carouselContainer {
  display: flex;
  gap: 2rem;
}

.slide {
  min-width: 200px;
  height: 150px;
  background-color: #e0e0e0;
  margin-right: 16px;
  display: flex;
  justify-content: center;
  align-items: center;
}
