/* 모바일 고려 */
.chart_wrapper {
  width: 100%;
  overflow-x: auto;
  overflow-y: hidden;
}

.chart_inner {
  width: 100%;
  /* height: 550px; */
  height: 100vh;
}

@media (max-width: 768px) {
  .chart_inner {
    height: 80vh;
  }
}
