.song_title {
  background-color: #f6f6f6;
  padding: 10px;
  border-radius: 10px;
  margin-bottom: 5px;
  text-align: center;
}

.song_head {
  display: flex;
  gap: 0.25rem;
  align-items: center;
  background-color: #f6f6f6;
  border-radius: 10px;
  padding: 10px;
  margin-bottom: 5px;
}

.song_head header {
  flex: 1;
  text-align: center;
}

.song_head span {
  font-weight: bold;
}

.song_title span {
  font-weight: bold;
}

.song_head img {
  height: 0.75rem;
  cursor: pointer;
}

.song_youtube {
  border-radius: 20px;
  width: 100%;
  aspect-ratio: 465.12 / 264.43;
  margin-bottom: 10px;
}

iframe {
  text-align: center;
  border-radius: 20px;
  width: 100%;
  aspect-ratio: 465.12 / 264.43;
}

@media (max-width: 765px) {
  .song_card {
    /* margin: 0 4vw; */
  }
}

.vote_section {
  display: flex;
  justify-content: space-between;
}

.user {
  display: flex;
  align-items: center;
  font-weight: 600;
}

.user img {
  width: 30px;
  height: 30px;
  border-radius: 50%;
  margin-right: 10px;
}

/* 투표 */
.vote_emoji {
  display: flex;
  align-items: center;
  gap: 3px;
  justify-content: center;
  font-size: 1.2rem;
}

.vote_emoji span {
  font-size: var(--text-base);
  margin: 0.2rem 0.3rem 0 0.2rem;
  font-weight: 600;
}

.vote_button {
  padding: 3px 5px;
  border-radius: 50%;
  border: 0.5px solid rgba(187, 187, 187, 0.25);
  box-shadow: 0px 2px 2px 0px rgba(0, 0, 0, 0.25);
}

.vote_button.selected {
  background-color: rgb(242, 240, 149);
}

.vote_reason {
  border: 1px solid #bababa;
  border-radius: 0px 30px 30px 50px;
  padding: 10px 18px;
  color: #2d2d2d;
  font-size: 0.9rem;
  margin-top: 8px;
}
