.container {
  position: relative;
  padding-top: 14rem;
}
.banner {
  width: 100vw;
  position: absolute;
  left: 50%;
  top: -4rem;
  transform: translateX(-50%);
  object-fit: cover;
  height: 20rem;
  z-index: -9999;
}

.image_button {
  position: absolute;
  top: 9rem;
  right: 0rem;
  z-index: 1;
  padding: 0.3rem 0.9rem;
  font-size: 0.8rem;
  color: rgba(255, 255, 255, 0.9);
  background-color: rgba(255, 255, 255, 0.4);
  border: 0.8px solid rgba(255, 255, 255, 0.6);
}
.image_button:hover {
  background-color: rgba(255, 255, 255, 0.6);
}
.title_box {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 1rem;
  white-space: nowrap;
}

.info_title {
  display: flex;
  gap: 1rem;
  align-items: flex-end;
}

.title {
  font-size: var(--text-3xl);
  font-weight: var(--font-weight-bold);
  color: var(--color-text-main);
}

.school {
  font-size: var(--text-xl);
  font-weight: var(--font-weight-semibold);
  color: var(--color-text-sub);
}

.left_title {
  display: flex;
  gap: 1rem;
}
.instagram_icon {
  color: var(--color-button-primary-bg);
  cursor: pointer;
}

.member_box {
  display: flex;
  gap: 1.5rem;
  font-size: var(--text-xl);
  flex-wrap: wrap;
}

.member {
  display: flex;
  gap: 0.5rem;
}

@media (max-width: 768px) {
  .title_box {
    flex-direction: column;
    align-items: center;
  }
  .member_box {
    justify-content: center;
  }
  .left_title {
    margin-top: 0.5rem;
  }
  /* .left_title button {
    font-size: 1rem;
    height: 2rem;
  } */
  .instagram_icon {
    height: 2rem;
  }
}

@media (max-width: 480px) {
  .member_box {
    font-size: 1rem;
  }
}
