.post_container {
  margin: 0 auto;
  text-align: center;
  color: #707070;
  width: 80%;
}

.post_header {
  margin-bottom: 1.5rem;
}
.post_header h2 {
  font-size: 1.2rem;
  font-weight: bold;
  margin-bottom: 0.8rem;
}
.post_header p {
  font-size: 0.8rem;
}

.form {
  display: flex;
  flex-direction: column;
  gap: 2rem;
  text-align: start;
}

input {
  width: 100%;
  padding: 0.5rem 0.8rem;
  font-size: 0.9rem;
  box-sizing: border-box;
  border: 1px solid #b1b1b1;
  border-radius: 7px;
  color: #707070;
}

.price_div input {
  width: 93%;
}
.price_div p {
  margin-left: -10px;
}

.centerbox {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 2rem;
}

@media (max-width: 768px) {
  .centerbox {
    display: flex;
    flex-direction: column;
  }
}

.centerbox label {
  width: 77px;
  font-weight: bold;
}

.image_input {
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  background-color: #e5e5e5;
  border-radius: 7px;
  width: 60%;
}

.infomation_container {
  width: 80%;
  display: flex;
  flex-direction: column;
  gap: 0.75rem;
}

.infomation_container div {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 1rem;
}

textarea {
  resize: none;
  width: 100%;
  height: 7rem;
  padding: 0.5rem 0.8rem;
  font-size: 0.9rem;
  box-sizing: border-box;
  border: 1px solid #b1b1b1;
  border-radius: 7px;
  color: #707070;
  margin-top: 0.5rem;
}

.descriptionbox label {
  font-weight: bold;
}

.button_group {
  display: flex;
  gap: 1rem;
  justify-content: center;
}

.button_group button {
  width: 85px;
  height: 40px;
  font-size: 0.9rem;
}

.cancle {
  background-color: #bababa;
}
