.container {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  width: 100%;
}

.submit_button {
  margin: 0 auto;
}

.scedule_container {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  gap: 1rem;
}

.guide {
  font-size: var(--text-xs);
  color: #414141;
}

.dot {
  color: var(--color-primary);
}

.option {
  font-size: var(--text-xs);
  color: #6b6b6b;
}
